<?xml version="1.0" encoding="ISO-8859-1"?>
<!--configuration bit values should be given in Mega Bytes (1KB = 1024 bytes, 1MB = 1024 KB, 1GB = 1024 MB), CPU value in MHz-->
<Configuration enabled="true">
	<!--Configuration Validators to validate system configs against recommended config settings-->	
	<Validator class="org.wso2.carbon.core.bootup.validator.SystemValidator">
		<Parameter id="CPU">{{ wso2ei_analytics_validator_CPU }}</Parameter>
		<Parameter id="RAM">{{ wso2ei_analytics_validator_RAM }}</Parameter>
		<Parameter id="swap">{{ wso2ei_analytics_validator_swap }}</Parameter>
		<Parameter id="freeDisk">{{ wso2ei_analytics_validator_freeDisk }}</Parameter>
		<Parameter id="ulimit">{{ wso2ei_analytics_validator_ulimit }}</Parameter>
        <Parameter id="certFingerprint">{{ wso2ei_analytics_validator_certFingerprint }}</Parameter>
	</Validator>
	<Validator class="org.wso2.carbon.core.bootup.validator.JVMValidator">
		<Parameter id="initHeapSize">{{ wso2ei_analytics_validator_initHeapSize }}</Parameter>
		<Parameter id="maxHeapSize">{{ wso2ei_analytics_validator_maxHeapSize }}</Parameter>
		<Parameter id="maxPermGenSize">{{ wso2ei_analytics_validator_maxPermGenSize }}</Parameter>
	</Validator>
	<Validator class="org.wso2.carbon.core.bootup.validator.RequiredSystemPropertiesValidator">
		<Parameter id="p1">carbon.home</Parameter>
		<Parameter id="p2">carbon.config.dir.path</Parameter>
		<Parameter id="p3">axis2.home</Parameter>
	</Validator>
	<Validator class="org.wso2.carbon.core.bootup.validator.SupportedOSValidator">
		<Parameter id="os1">Linux</Parameter>
		<Parameter id="os2">Unix</Parameter>
		<Parameter id="os3">Mac OS</Parameter>
		<Parameter id="os4">Windows Server 2003</Parameter>
		<Parameter id="os5">Windows XP</Parameter>
		<Parameter id="os6">Windows Vista</Parameter>
		<Parameter id="os7">Windows 7</Parameter>
		<Parameter id="os8">Mac OS X</Parameter>
		<Parameter id="os9">Windows Server 2008</Parameter>
		<Parameter id="os10">Windows Server 2008 R2</Parameter>
		<Parameter id="os11">AIX</Parameter>
	</Validator>
</Configuration>

